﻿@using Hipparu.Data

<div class="" style="border: 2px solid black;">
    <button @onclick="@(()=> OnRemoveClick.InvokeAsync(Item))" class="btn btn-secondary m-1">
        <span class="oi oi-trash"></span>
    </button>
    <span class="ml-3 oi oi-sun"></span>
</div>

@functions
{ }


@code { [Parameter]
    public AnswerItem Item { get; set; }

    [Parameter]
    public EventCallback<AnswerItem> OnRemoveClick { get; set; } }
