﻿@page "/"
@using Hipparu.Data
@using Plk.Blazor.DragDrop;
@using Newtonsoft.Json;
@using System.IO;

@if (LastDropped != null)
{
    <div class="bg-warning">That's not where  @LastDropped?.HiraganaScript goes.</div>
}


<div>
    <div class="timer">@exerciseTimer</div>
    <button @onclick="ResetGame" style="float: right;">Reset</button>
    <select @onchange="OnGameModeSelect">
        <option value="@GameModes.Hiragana">Hiragana Mode</option>
        <option value="@GameModes.Katakana">Katakana Mode</option>
    </select>
</div>

<br />

<div>
    <table>
        <tr>
            <th>Misc.</th>
            <th></th>
            <th>R-</th>
            <th></th>
            <th>Y-</th>
            <th></th>
            <th>M-</th>
            <th></th>
            <th>H-</th>
            <th></th>
            <th>N-</th>
            <th></th>
            <th>T-</th>
            <th></th>
            <th>S-</th>
            <th></th>
            <th>K-</th>
            <th></th>
            <th>Vowels</th>
            <th></th>
        </tr>
        <!--First row-->
        <tr>
            <td>wa</td>
            <td width="60">
                <Dropzone Items="WaList" Accepts='(d) => d.RomajiScript.Equals("wa")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>ra</td>
            <td width="60">
                <Dropzone Items="RaList" Accepts='(d) => d.RomajiScript.Equals("ra")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>ya</td>
            <td width="60">
                <Dropzone Items="YaList" Accepts='(d) => d.RomajiScript.Equals("ya")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>ma</td>
            <td width="60">
                <Dropzone Items="MaList" Accepts='(d) => d.RomajiScript.Equals("ma")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>ha</td>
            <td width="60">
                <Dropzone Items="HaList" Accepts='(d) => d.RomajiScript.Equals("ha")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>na</td>
            <td width="60">
                <Dropzone Items="NaList" Accepts='(d) => d.RomajiScript.Equals("na")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>ta</td>
            <td width="60">
                <Dropzone Items="TaList" Accepts='(d) => d.RomajiScript.Equals("ta")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>sa</td>
            <td width="60">
                <Dropzone Items="SaList" Accepts='(d) => d.RomajiScript.Equals("sa")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>ka</td>
            <td width="60">
                <Dropzone Items="KaList" Accepts='(d) => d.RomajiScript.Equals("ka")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>a</td>
            <td width="60">
                <Dropzone Items="AList" Accepts='(d) => d.RomajiScript.Equals("a")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
        </tr>
        <!--Second row-->
        <tr>
            <td></td>
            <td></td>
            <td>ri</td>
            <td>
                <Dropzone Items="RiList" Accepts='(d) => d.RomajiScript.Equals("ri")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td></td>
            <td>
            </td>
            <td>mi</td>
            <td>
                <Dropzone Items="MiList" Accepts='(d) => d.RomajiScript.Equals("mi")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>hi</td>
            <td>
                <Dropzone Items="HiList" Accepts='(d) => d.RomajiScript.Equals("hi")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>ni</td>
            <td>
                <Dropzone Items="NiList" Accepts='(d) => d.RomajiScript.Equals("ni")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>chi</td>
            <td>
                <Dropzone Items="ChiList" Accepts='(d) => d.RomajiScript.Equals("chi")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>shi</td>
            <td>
                <Dropzone Items="ShiList" Accepts='(d) => d.RomajiScript.Equals("shi")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>ki</td>
            <td>
                <Dropzone Items="KiList" Accepts='(d) => d.RomajiScript.Equals("ki")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>i</td>
            <td>
                <Dropzone Items="IList" Accepts='(d) => d.RomajiScript.Equals("i")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
        </tr>
        <!--Third row-->
        <tr>
            <td>wo</td>
            <td>
                <Dropzone Items="WoList" Accepts='(d) => d.RomajiScript.Equals("wo")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>ru</td>
            <td>
                <Dropzone Items="RuList" Accepts='(d) => d.RomajiScript.Equals("ru")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>yu</td>
            <td>
                <Dropzone Items="YuList" Accepts='(d) => d.RomajiScript.Equals("yu")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>mu</td>
            <td>
                <Dropzone Items="MuList" Accepts='(d) => d.RomajiScript.Equals("mu")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>fu</td>
            <td>
                <Dropzone Items="FuList" Accepts='(d) => d.RomajiScript.Equals("fu")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>nu</td>
            <td>
                <Dropzone Items="NuList" Accepts='(d) => d.RomajiScript.Equals("nu")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>tsu</td>
            <td>
                <Dropzone Items="TsuList" Accepts='(d) => d.RomajiScript.Equals("tsu")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>su</td>
            <td>
                <Dropzone Items="SuList" Accepts='(d) => d.RomajiScript.Equals("su")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>ku</td>
            <td>
                <Dropzone Items="KuList" Accepts='(d) => d.RomajiScript.Equals("ku")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>u</td>
            <td>
                <Dropzone Items="UList" Accepts='(d) => d.RomajiScript.Equals("u")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
        </tr>
        <!--Fourth row-->
        <tr>
            <td></td>
            <td>
            </td>
            <td>re</td>
            <td>
                <Dropzone Items="ReList" Accepts='(d) => d.RomajiScript.Equals("re")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td></td>
            <td>
            </td>
            <td>me</td>
            <td>
                <Dropzone Items="MeList" Accepts='(d) => d.RomajiScript.Equals("me")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>he</td>
            <td>
                <Dropzone Items="HeList" Accepts='(d) => d.RomajiScript.Equals("he")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>ne</td>
            <td>
                <Dropzone Items="NeList" Accepts='(d) => d.RomajiScript.Equals("ne")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>te</td>
            <td>
                <Dropzone Items="TeList" Accepts='(d) => d.RomajiScript.Equals("te")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>se</td>
            <td>
                <Dropzone Items="SeList" Accepts='(d) => d.RomajiScript.Equals("se")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>ke</td>
            <td>
                <Dropzone Items="KeList" Accepts='(d) => d.RomajiScript.Equals("ke")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>e</td>
            <td>
                <Dropzone Items="EList" Accepts='(d) => d.RomajiScript.Equals("e")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
        </tr>
        <!--Fifth row-->
        <tr>
            <td>n</td>
            <td>
                <Dropzone Items="NList" Accepts='(d) => d.RomajiScript.Equals("n")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>ro</td>
            <td>
                <Dropzone Items="RoList" Accepts='(d) => d.RomajiScript.Equals("ro")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>yo</td>
            <td>
                <Dropzone Items="YoList" Accepts='(d) => d.RomajiScript.Equals("yo")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>mo</td>
            <td>
                <Dropzone Items="MoList" Accepts='(d) => d.RomajiScript.Equals("mo")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>ho</td>
            <td>
                <Dropzone Items="HoList" Accepts='(d) => d.RomajiScript.Equals("ho")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>no</td>
            <td>
                <Dropzone Items="NoList" Accepts='(d) => d.RomajiScript.Equals("no")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>to</td>
            <td>
                <Dropzone Items="ToList" Accepts='(d) => d.RomajiScript.Equals("to")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>so</td>
            <td>
                <Dropzone Items="SoList" Accepts='(d) => d.RomajiScript.Equals("so")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>ko</td>
            <td>
                <Dropzone Items="KoList" Accepts='(d) => d.RomajiScript.Equals("ko")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
            <td>o</td>
            <td>
                <Dropzone Items="OList" Accepts='(d) => d.RomajiScript.Equals("o")' TItem="AnswerItem" OnItemDropRejected="@((i) => LastDropped = i)" OnItemDrop="@((i) => SuccessfulDrop())" MaxItems="1">
                    <div class="mt-2" style="border: 2px solid black">
                        @if (activeGameMode == GameModes.Hiragana)
                        {
                            @context.HiraganaScript
                        }
                        else if (activeGameMode == GameModes.Katakana)
                        {
                            @context.KatakanaScript
                        }
                    </div>
                </Dropzone>
            </td>
        </tr>
    </table>

    <h2>Unsorted:</h2>
    <div class="grid-container">
        <Dropzone Class="grid-container" Items="AnswerList" ItemWrapperClass="flex-item">
            @if (activeGameMode == GameModes.Hiragana)
             {
                @context.HiraganaScript 
             }
             else if (activeGameMode == GameModes.Katakana)
             {
                    @context.KatakanaScript
             }
        </Dropzone>
    </div>
</div>

@code
{
    public void OnGameModeSelect(ChangeEventArgs e)
    {
        activeGameMode = (GameModes)Enum.Parse(typeof(GameModes), e.Value.ToString());
    }

    GameModes activeGameMode = GameModes.Hiragana;

}