﻿@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">

        <hr />

        @Body

        <div class="text-center">
            <div class="badge-light">Hipparu is free and open source! You can find its repository <a href="https://github.com/c0m/Hipparu">here</a></div>
        </div>
    </div>
</div>

